body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color:rgb(37, 37, 37);
    background-color: rgb(218, 203, 218);

}

#main-header{
    background-color: rgb(89, 0, 255);
    color:white;
    padding: 2rem 5%;
    text-align: center;
}
#main-header h1{
    font-weight: bolder;
}
.btn {
   font:inherit;
   padding:0.5rem 1.5rem;
   background-color:  rgb(89, 0, 255);
   border: 1px solid  rgb(89, 0, 255);
   color:white;
   border-radius:4px;
   cursor:pointer;
}
.btn:hover{
    background-color: rgb(122, 1, 221);
    border-color:rgb(47, 0, 255);
    color:black;
}
.btn-alt{
    background-color: transparent;
    border-color: transparent;
    color: rgb(89, 0, 255);
}
.btn-alt:hover{
    background-color:rgb(194, 120, 255);
    border-color:transparent;
}

